/* Register.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.container2 {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Left Section */
.left-section1 {
  flex: 1;
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-right: 1px solid #eee;
}

.banner-img1 {
  width: 60%;
  max-width: 300px;
  margin-bottom: 20px;
}

.left-text2 h2 {
  font-size: 30px;
  font-weight: bold;
  color: #03405c;
  margin-bottom: 10px;
  text-align: center;
}

.left-text2 p {
  font-size: 15px;
  color: #0f945e;
  text-align: center;
  line-height: 1.5;
}

/* Right Section */
.right-section {
  flex: 1;
  background-color: #f9fafb;

  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.logo2 {
  width: 150px;
  margin-bottom: 10px;
  align-self: flex-start;
  margin-top: -40px;
  margin-left: -15px;
  
}

.form-title2 {
  font-size: 22px;
  color: #03405c;;
  margin-bottom: 30px;
  margin-top: -10px;
  font-weight: 600;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input-field1 {
  padding: 5px 10px 9px 10px;
  border-radius: 4px;
  height: 40px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  transition: all 0.3s;
  font-weight: 400;
}
.label1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 450;
  margin-right: 10px;
}
.input-field1:focus {
  border-color: #4f46e5;
  outline: none;
  box-shadow: 0 0 4px rgba(79, 70, 229, 0.3);
}

.otp-info {
  font-size: 14px;
  color: #374151;
  margin-top: 10px;
}

.submit-btn {
  background-color: #03405c;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0f945e;
}

.message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}
.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 1000;
  animation: fadeInOut 6s forwards;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

