.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d1b2a;
  color: white;
  padding: 10px 20px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.3);
}

.navbar-left {
  display: flex;
  align-items: center;
  
}

.navbar-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ffb703;
}
