.otp-container {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.otp-left1 {
  flex: 1;
  background-color: #03405c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
  color: white;
}

.kyc-img {
  max-width: 70%;
  margin-bottom: 30px;
}

.otp-right {
  flex: 1;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.otp-right h2{
  align-self: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.logo-img {
  width: 180px;
  margin-bottom: 30px;
}

.otp-form label {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
 
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.otp-inputs input {
  width: 40px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

.otp-inputs input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.otp-timer {
  margin-bottom: 20px;
}

.resend-btn {
  background: none;
  border: none;
  color: #3a79f7;
  font-weight: 500;
  cursor: pointer;
}

.proceed-btn {
  width: 100%;
  background-color: #03405c;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.proceed-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: white;
}

.terms {
  font-size: 12px;
  margin-top: 20px;
  color: #555;
}

.terms a {
  color: #3a79f7;
  text-decoration: none;
}
.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #333;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 16px;
  z-index: 1000;
  animation: fadeInOut 6s forwards;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(20px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(20px); }
}

